UnityProj/UnityProj/Assembly-CSharp.csproj
UnityProj/UnityProj/Assembly-CSharp-firstpass.csproj
UnityProj/UnityProj/Assembly-CSharp-Editor-firstpass.csproj
UnityProj/UnityProj/UnityProj.sln
UnityProj/UnityProj/.vs/UnityProj/v15/Server/sqlite3/storage.ide-wal
UnityProj/UnityProj/.vs/UnityProj/v15/Server/sqlite3/storage.ide-shm
UnityProj/UnityProj/.vs/UnityProj/v15/Server/sqlite3/storage.ide
UnityProj/UnityProj/.vs/UnityProj/v15/Server/sqlite3/db.lock
UnityProj/UnityProj/Library/
UnityProj/UnityProj/Temp/
